* {
    --primary-color : rgb(235, 235, 235);
    --primary-color-light : rgb(253, 253, 253);
    --secondary-color : rgba(102, 102, 102, 0.411);
    --secondary-color-shader : rgb(167, 167, 167);
    --secondary-color-light : rgb(221, 221, 221);
    --link-color: #008cff;
    --link-visited-color: rgb(89, 0, 255);
    --red: rgb(255, 30, 0);
    --red-light: rgb(255, 181, 172);
    --green: rgb(3, 236, 54);
    --yellow: rgb(255, 219, 16);
    --font-default : black;
    --font-size: 18px
}

.classic-grey *{
    --primary-background: white;
    --font-default : black;
    --font-negative: white;
    --primary-color : rgb(235, 235, 235);
    --primary-color-light : rgb(243, 243, 243);
    --secondary-color : rgb(167, 167, 167);
    --secondary-color-light : rgb(230, 230, 230);
    --secondary-color-shader : rgba(167, 167, 167, 0.1);
}

.dark *{
    color: white;
    --primary-background: black;
    --font-default: white;
    --font-negative: black;
    --primary-color : rgb(36, 36, 36);
    --primary-color-light : rgb(73, 73, 73);
    --secondary-color : rgb(226, 226, 226);
    --secondary-color-light : rgb(175, 175, 175);
    --secondary-color-shader : rgba(228, 228, 228, 0.1);
}

.navy-blue *{
    color: white;
    --primary-background: rgb(0, 20, 34);
    --font-default: white;
    --font-negative: black;
    --primary-color : rgb(0, 84, 153);
    --primary-color-light : rgb(0, 94, 218);
    --secondary-color : rgb(49, 145, 255);
    --secondary-color-light : rgb(150, 199, 255);
    --secondary-color-shader : rgba(180, 215, 255, 0.1);
    --link-visited-color: rgb(0, 208, 255);
}

.brown *{
    color: white;
    --primary-background: #361c00;
    --font-default: white;
    --font-negative: black;
    --primary-color :  #7B3F00;
    --primary-color-light : #7a5f42;
    --secondary-color : #ff8400;
    --secondary-color-light : rgb(255, 187, 113);
    --secondary-color-shader : rgba(228, 228, 228, 0.1);
}

.ocean-blue *{
    color: black;
    --primary-background: rgb(252, 254, 255);
    --font-default : black;
    --font-negative: white;
    --primary-color : rgb(210, 246, 255);
    --primary-color-light : rgb(246, 251, 251);
    --secondary-color : rgb(54, 215, 255);
    --secondary-color-light : rgb(219, 248, 255);
    --secondary-color-shader : rgba(0, 107, 134, 0.1);
}

.cream *{
    --font-default : black;
    --font-negative: white;
    --primary-background: #fdfaf3;
    --primary-color : #fae8d1;
    --primary-color-light :rgb(255, 242, 228);
    --secondary-color : #7B3F00;
    --secondary-color-shader : #763d0023;
    --secondary-color-light : #d3b28f;
}